.EnterName{
    display: flex;
    flex-direction: rows;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}

.chat-container{
    display: flex;
    flex-direction: column;
}

.name-entry-container{
    display: flex;
    flex-direction: rows;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}

.name-submit-button{
    background-color: rgb(67, 163, 3);
    width: fit-content;
    font-size: large;
}

.name-input{
    font-size: large;
    background-color: white;
}