.ChatInput{
    /* display: flex; */
    /* flex-direction: row; */
    position: bottom;
    height: fit-content;
    /* width: fit-content; */
    /* justify-content: center; */
    /* align-content: center; */
    background-color: rgb(43, 43, 43);
}

.input-form{
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .input-box{
    background-color: white;
    width: 50vw;
    margin: 0.1rem;
} */

.send-button{
    color: white;
    background-color: green;
    max-height: 10vh;
    min-height: 10vh;
    width: 15vw;
    /* margin: 0.1rem; */
    text-align: center;
}