.ChatBody{
    height: 72vh;
    background-color: rgb(34, 34, 34);
}

.message-list{
    overflow-y: scroll;
    width: 80vw;
    height: 70vh;
}

.message-container{
    /* background-color: rgb(32, 32, 32); */
}

.message-author{
    color: rgb(87, 170, 31);
}

.message-body{
    color:rgb(255, 255, 255);
    overflow-wrap: break-word;
    word-wrap: break-word;
}